{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="title has-text-warning has-text-centered">{{ title }}</div>
            <img src="{{ title.photo.url }}" alt="" class="image is-centered container" style="min-width: 90%; height:40%; border-radius: 5px ; margin:0;">
            <br>
            <div class="subtitle has-text-dark has-text-centered"> {{ text }}</div>
            
        </div>
        <div class="column">
            <h1 class="title is-2">Eng yaxshi diqqatga sazovor joylar</h1>
            <p class="subtitle is-4">Samarqand - Madaniyatlar chorrahasi
                Samarqandni chinakam noyob shahar, deb atash mumkin!Dunyoning eng buyuk shoir va faylasuflari uni - qalb
                bog‘i, sharq durdonasi, dunyoning ko‘zgusi va hatto yer yuzi deb atashganlarida ham, ular bu go‘zal
                shaharning barcha go‘zalligi va boyliklarini tasvirlab berolmagan bo‘lardilar.

                Eng yaxshi diqqatga sazovor joylar
                Samarqandning madaniy merosi juda katta. Аsrlar davomida bu shahar Buyuk Ipak yo'lining asosiy markazi
                bo'lib kelgan.

                XXI asr boshlarida shahar YuNESKOning Umumjahon merosi ro'yxatiga "Samarqand - madaniyatlar chorrahasi"
                nomi bilan kiritildi!

                Shaharni ziyorat qilsangiz, siz bu yerda joylashgan tarixiy obidalarning sonidan hayratda qolasiz, ammo
                biz sizga albatta ko'rishga arziydigan eng mashhur diqqatga sazovor joylarni ko'rsatishga harakat
                qilamiz!

                Hammasini ko'rish
                Samarqand haqida video
                Fotogalereya 📸Eʼtiborga molik joylarni, insonlar hayoti va hodisalar to‘g‘risida eng qiziqarli
                maʼlumotlarni siz fotogalereyamizdan topishingiz mumkin!
                Shaharning barcha rasmlari
                360 rasmIqlim 🌡
                Samarqand iqlimiga aniq fasllarga bo‘linish xos. Qish odatda yumshoq va harorat 0 ° S dan pastga juda
                kam hollarda tushadi. To‘satdan sovuq bo‘lishi juda kam uchraydi, va asosan kechalari tushishi mumkin.
                Bu yerda yoz juda issiq, shuning uchun siz o‘zingiz bilan bosh kiyim va quyoshdan himoya qilish uchun
                ko‘zoynak olib kelishni unutmang.

                Sovg‘alar va suvenirlar 🛍
                Samarqand suvenir do‘konlari yog‘ochdan, matodan va boshqa materiallardan yasalgan hunarmandchilik
                mahsulotlarining ishqibozlarini xursand qilishi mumkin. Anʼanaga ko‘ra, ustaxonalarning aksariyati eski
                madrasalarda bo‘lib, barcha hunarmandchilik mahsulotlari mahalliy hunarmandlar tomonidan qo‘lda
                yasalgan. Ammo Samarqandda odatiy suvenirlardan tashqari, siz mamlakatning boshqa hududlarida topa
                olmaydigan yana bir nechta xususiyatlarni ko‘rishingiz mumkin. Avvalo, sizga Bibixonim masjidi yonida
                joylashgan, eski Samarqandning markazida bo‘lgan Siyob bozoriga tashrif buyurishingizni maslahat
                beramiz. Ushbu bozorda siz juda ko‘p miqdorda quritilgan mevalar, yong‘oqlar va shirinliklarni
                topishingiz mumkin .Yuqorida sanab o‘tilgan narsalar qatorida Samarqand kulchasi va Samarqand holvasini
                alohida ajratib ko‘rsatish mumkin. Shuningdek, Samarqand viloyatida “Meros” nomli qog‘oz fabrikasi ham
                mavjud. Uning ustalari tut po‘stlog‘idan qog‘oz tayyorlash usulini saqlab qolishgan. Ushbu usul X-XI
                asrda paydo bo‘lib o‘zining bardoshliligi bilan ajralib turgan. Ushbu fabrikada siz shahar rasmi
                tasvirlangan otkritkalar, yon daftarlar, niqoblar va hatto noodatiy qog‘ozli ko‘ylaklar, qo‘g‘irchoqlar
                va sumkalar kabi buyumlarni sotib olishingiz mumkin.</p>
        </div>
    </div>
</div>

    {% endblock %}